name: CI

on:
  pull_request:
    branches: [ dev ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create test file
        run: echo "Test passed" > report.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.txt
